@import "compass/css3";
 .glitch {
	 color: white;
	 font-size: 100px;
	 position: relative;
	 width: 300px;
	 margin: 0 auto;
}
 @keyframes noise-anim {
	 0% {
		 clip: rect(9px, 9999px, 12px, 0);
	}
	 5% {
		 clip: rect(19px, 9999px, 56px, 0);
	}
	 10% {
		 clip: rect(62px, 9999px, 62px, 0);
	}
	 15% {
		 clip: rect(7px, 9999px, 66px, 0);
	}
	 20% {
		 clip: rect(48px, 9999px, 10px, 0);
	}
	 25% {
		 clip: rect(27px, 9999px, 38px, 0);
	}
	 30% {
		 clip: rect(77px, 9999px, 12px, 0);
	}
	 35% {
		 clip: rect(19px, 9999px, 36px, 0);
	}
	 40% {
		 clip: rect(32px, 9999px, 4px, 0);
	}
	 45% {
		 clip: rect(41px, 9999px, 2px, 0);
	}
	 50% {
		 clip: rect(47px, 9999px, 89px, 0);
	}
	 55% {
		 clip: rect(53px, 9999px, 44px, 0);
	}
	 60% {
		 clip: rect(59px, 9999px, 24px, 0);
	}
	 65% {
		 clip: rect(100px, 9999px, 43px, 0);
	}
	 70% {
		 clip: rect(1px, 9999px, 56px, 0);
	}
	 75% {
		 clip: rect(99px, 9999px, 50px, 0);
	}
	 80% {
		 clip: rect(19px, 9999px, 95px, 0);
	}
	 85% {
		 clip: rect(68px, 9999px, 88px, 0);
	}
	 90% {
		 clip: rect(33px, 9999px, 50px, 0);
	}
	 95% {
		 clip: rect(48px, 9999px, 45px, 0);
	}
	 100% {
		 clip: rect(22px, 9999px, 74px, 0);
	}
}
 .glitch:after {
	 content: attr(data-text);
	 position: absolute;
	 left: 2px;
	 text-shadow: -1px 0 red;
	 top: 0;
	 color: white;
	 background: rgba(0, 0, 0, 0);
	 overflow: hidden;
	 clip: rect(0, 900px, 0, 0);
	 animation: noise-anim 2s infinite linear alternate-reverse;
}
 @keyframes noise-anim-2 {
	 0% {
		 clip: rect(49px, 9999px, 25px, 0);
	}
	 5% {
		 clip: rect(5px, 9999px, 11px, 0);
	}
	 10% {
		 clip: rect(100px, 9999px, 88px, 0);
	}
	 15% {
		 clip: rect(97px, 9999px, 12px, 0);
	}
	 20% {
		 clip: rect(12px, 9999px, 78px, 0);
	}
	 25% {
		 clip: rect(59px, 9999px, 9px, 0);
	}
	 30% {
		 clip: rect(46px, 9999px, 89px, 0);
	}
	 35% {
		 clip: rect(13px, 9999px, 34px, 0);
	}
	 40% {
		 clip: rect(24px, 9999px, 29px, 0);
	}
	 45% {
		 clip: rect(70px, 9999px, 45px, 0);
	}
	 50% {
		 clip: rect(51px, 9999px, 34px, 0);
	}
	 55% {
		 clip: rect(18px, 9999px, 48px, 0);
	}
	 60% {
		 clip: rect(58px, 9999px, 30px, 0);
	}
	 65% {
		 clip: rect(25px, 9999px, 26px, 0);
	}
	 70% {
		 clip: rect(49px, 9999px, 85px, 0);
	}
	 75% {
		 clip: rect(50px, 9999px, 20px, 0);
	}
	 80% {
		 clip: rect(79px, 9999px, 48px, 0);
	}
	 85% {
		 clip: rect(8px, 9999px, 37px, 0);
	}
	 90% {
		 clip: rect(94px, 9999px, 19px, 0);
	}
	 95% {
		 clip: rect(68px, 9999px, 33px, 0);
	}
	 100% {
		 clip: rect(43px, 9999px, 2px, 0);
	}
}
 .glitch:before {
	 content: attr(data-text);
	 position: absolute;
	 left: -2px;
	 text-shadow: 1px 0 blue;
	 top: 0;
	 color: white;
	 background: transparent;
	 overflow: hidden;
	 clip: rect(0, 900px, 0, 0);
	 animation: noise-anim-2 3s infinite linear alternate-reverse;
}
 @keyframes glitch2 {
	 0% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 1% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 0, 255, 1);
	}
	 2% {
		 text-shadow: 3px 0 0 rgba(255, 0, 0, 1), -3px 0 0 rgba(0, 0, 255, 1);
	}
	 3% {
		 text-shadow: 4px 0 0 rgba(255, 0, 0, 1), -4px 0 0 rgba(0, 0, 255, 1);
	}
	 4% {
		 text-shadow: 5px 0 0 rgba(255, 0, 0, 1), -5px 0 0 rgba(0, 0, 255, 1);
	}
	 5% {
		 text-shadow: 4px 0 0 rgba(255, 0, 0, 1), -4px 0 0 rgba(0, 0, 255, 1);
	}
	 6% {
		 text-shadow: 3px 0 0 rgba(255, 0, 0, 1), -3px 0 0 rgba(0, 0, 255, 1);
	}
	 7% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 0, 255, 1);
	}
	 8% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 9% {
		 text-shadow: 0px 0 0 rgba(255, 0, 0, 1), 0px 0 0 rgba(0, 0, 255, 1);
	}
	 10% {
		 text-shadow: -1px 0 0 rgba(255, 0, 0, 1), 1px 0 0 rgba(0, 0, 255, 1);
	}
	 11% {
		 text-shadow: 0.5px 0 0 rgba(255, 0, 0, 1), -0.5px 0 0 rgba(0, 255, 0, 1);
	}
	 12% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 255, 0, 1);
	}
	 13% {
		 text-shadow: 1.5px 0 0 rgba(255, 0, 0, 1), -1.5px 0 0 rgba(0, 255, 0, 1);
	}
	 14% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 255, 0, 1);
	}
	 15% {
		 text-shadow: 2.5px 0 0 rgba(255, 0, 0, 1), -2.5px 0 0 rgba(0, 255, 0, 1);
	}
	 16% {
		 text-shadow: 1.5px 0 0 rgba(255, 0, 0, 1), -1.5px 0 0 rgba(0, 255, 0, 1);
	}
	 17% {
		 text-shadow: 0.5px 0 0 rgba(255, 0, 0, 1), -0.5px 0 0 rgba(0, 255, 0, 1);
	}
	 18% {
		 text-shadow: -0.5px 0 0 rgba(255, 0, 0, 1), 0.5px 0 0 rgba(0, 255, 0, 1);
	}
	 19% {
		 text-shadow: -1.5px 0 0 rgba(255, 0, 0, 1), 1.5px 0 0 rgba(0, 255, 0, 1);
	}
	 20% {
		 text-shadow: -2.5px 0 0 rgba(255, 0, 0, 1), 2.5px 0 0 rgba(0, 255, 0, 1);
	}
	 21% {
		 text-shadow: 0.7px 0 0 rgba(0, 0, 255, 1), -0.7px 0 0 rgba(0, 255, 0, 1);
	}
	 22% {
		 text-shadow: 1.4px 0 0 rgba(0, 0, 255, 1), -1.4px 0 0 rgba(0, 255, 0, 1);
	}
	 23% {
		 text-shadow: 2.1px 0 0 rgba(0, 0, 255, 1), -2.1px 0 0 rgba(0, 255, 0, 1);
	}
	 24% {
		 text-shadow: 2.8px 0 0 rgba(0, 0, 255, 1), -2.8px 0 0 rgba(0, 255, 0, 1);
	}
	 25% {
		 text-shadow: 3.5px 0 0 rgba(0, 0, 255, 1), -3.5px 0 0 rgba(0, 255, 0, 1);
	}
	 26% {
		 text-shadow: 4.2px 0 0 rgba(0, 0, 255, 1), -4.2px 0 0 rgba(0, 255, 0, 1);
	}
	 27% {
		 text-shadow: 4.9px 0 0 rgba(0, 0, 255, 1), -4.9px 0 0 rgba(0, 255, 0, 1);
	}
	 28% {
		 text-shadow: 5.6px 0 0 rgba(0, 0, 255, 1), -5.6px 0 0 rgba(0, 255, 0, 1);
	}
	 29% {
		 text-shadow: 6.3px 0 0 rgba(0, 0, 255, 1), -6.3px 0 0 rgba(0, 255, 0, 1);
	}
	 30% {
		 text-shadow: 7px 0 0 rgba(0, 0, 255, 1), -7px 0 0 rgba(0, 255, 0, 1);
	}
	 31% {
		 text-shadow: 6px 0 0 rgba(0, 0, 255, 1), -6px 0 0 rgba(0, 255, 0, 1);
	}
	 32% {
		 text-shadow: 5px 0 0 rgba(0, 0, 255, 1), -5px 0 0 rgba(0, 255, 0, 1);
	}
	 33% {
		 text-shadow: 4px 0 0 rgba(0, 0, 255, 1), -4px 0 0 rgba(0, 255, 0, 1);
	}
	 34% {
		 text-shadow: 3px 0 0 rgba(0, 0, 255, 1), -3px 0 0 rgba(0, 255, 0, 1);
	}
	 35% {
		 text-shadow: 2px 0 0 rgba(0, 0, 255, 1), -2px 0 0 rgba(0, 255, 0, 1);
	}
	 36% {
		 text-shadow: 1px 0 0 rgba(0, 0, 255, 1), -1px 0 0 rgba(0, 255, 0, 1);
	}
	 37% {
		 text-shadow: 0px 0 0 rgba(0, 0, 255, 1), 0px 0 0 rgba(0, 255, 0, 1);
	}
	 38% {
		 text-shadow: -1px 0 0 rgba(0, 0, 255, 1), 1px 0 0 rgba(0, 255, 0, 1);
	}
	 39% {
		 text-shadow: -2px 0 0 rgba(0, 0, 255, 1), 2px 0 0 rgba(0, 255, 0, 1);
	}
	 40% {
		 text-shadow: -3px 0 0 rgba(0, 0, 255, 1), 3px 0 0 rgba(0, 255, 0, 1);
	}
	 41% {
		 text-shadow: 50px 0 0 rgba(0, 0, 255, 1), -50px 0 0 rgba(0, 255, 0, 1);
	}
	 42% {
		 text-shadow: 0 0 0 rgba(0, 0, 255, 1), 0 0 0 rgba(0, 255, 0, 1);
	}
	 43% {
		 text-shadow: 0.5px 0 0 rgba(255, 0, 0, 1), -0.5px 0 0 rgba(0, 255, 0, 1);
	}
	 44% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 255, 0, 1);
	}
	 45% {
		 text-shadow: 1.5px 0 0 rgba(255, 0, 0, 1), -1.5px 0 0 rgba(0, 255, 0, 1);
	}
	 46% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 255, 0, 1);
	}
	 47% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 255, 0, 1);
	}
	 48% {
		 text-shadow: 0px 0 0 rgba(255, 0, 0, 1), 0px 0 0 rgba(0, 255, 0, 1);
	}
	 49% {
		 text-shadow: -1px 0 0 rgba(255, 0, 0, 1), 1px 0 0 rgba(0, 255, 0, 1);
	}
	 50% {
		 text-shadow: -2px 0 0 rgba(255, 0, 0, 1), 2px 0 0 rgba(0, 255, 0, 1);
	}
	 51% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 52% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 0, 255, 1);
	}
	 53% {
		 text-shadow: 3px 0 0 rgba(255, 0, 0, 1), -3px 0 0 rgba(0, 0, 255, 1);
	}
	 54% {
		 text-shadow: 4px 0 0 rgba(255, 0, 0, 1), -4px 0 0 rgba(0, 0, 255, 1);
	}
	 55% {
		 text-shadow: 5px 0 0 rgba(255, 0, 0, 1), -5px 0 0 rgba(0, 0, 255, 1);
	}
	 56% {
		 text-shadow: 4px 0 0 rgba(255, 0, 0, 1), -4px 0 0 rgba(0, 0, 255, 1);
	}
	 57% {
		 text-shadow: 3px 0 0 rgba(255, 0, 0, 1), -3px 0 0 rgba(0, 0, 255, 1);
	}
	 58% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 0, 255, 1);
	}
	 59% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 60% {
		 text-shadow: 0px 0 0 rgba(255, 0, 0, 1), 0px 0 0 rgba(0, 0, 255, 1);
	}
	 61% {
		 text-shadow: 30px 0 0 rgba(255, 0, 0, 1), -30px 0 0 rgba(0, 255, 0, 1);
	}
	 62% {
		 text-shadow: 0 0 0 rgba(255, 0, 0, 1), 0 0 0 rgba(0, 255, 0, 1);
	}
	 63% {
		 text-shadow: 0.5px 0 0 rgba(255, 0, 0, 1), -0.5px 0 0 rgba(0, 0, 255, 1);
	}
	 64% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 65% {
		 text-shadow: 1.5px 0 0 rgba(255, 0, 0, 1), -1.5px 0 0 rgba(0, 0, 255, 1);
	}
	 66% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 0, 255, 1);
	}
	 67% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 68% {
		 text-shadow: 0px 0 0 rgba(255, 0, 0, 1), 0px 0 0 rgba(0, 0, 255, 1);
	}
	 69% {
		 text-shadow: -1px 0 0 rgba(255, 0, 0, 1), 1px 0 0 rgba(0, 0, 255, 1);
	}
	 70% {
		 text-shadow: -2px 0 0 rgba(255, 0, 0, 1), 2px 0 0 rgba(0, 0, 255, 1);
	}
	 71% {
		 text-shadow: 70px 0 0 rgba(255, 0, 0, 1), -70px 0 0 rgba(0, 0, 255, 1);
	}
	 72% {
		 text-shadow: 0 0 0 rgba(255, 0, 0, 1), 0 0 0 rgba(0, 0, 255, 1);
	}
	 73% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 74% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 0, 255, 1);
	}
	 75% {
		 text-shadow: 3px 0 0 rgba(255, 0, 0, 1), -3px 0 0 rgba(0, 0, 255, 1);
	}
	 76% {
		 text-shadow: 4px 0 0 rgba(255, 0, 0, 1), -4px 0 0 rgba(0, 0, 255, 1);
	}
	 77% {
		 text-shadow: 3px 0 0 rgba(255, 0, 0, 1), -3px 0 0 rgba(0, 0, 255, 1);
	}
	 78% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 0, 255, 1);
	}
	 79% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 0, 255, 1);
	}
	 80% {
		 text-shadow: 0px 0 0 rgba(255, 0, 0, 1), 0px 0 0 rgba(0, 0, 255, 1);
	}
	 81% {
		 text-shadow: 0.5px 0 0 rgba(255, 0, 0, 1), -0.5px 0 0 rgba(0, 255, 0, 1);
	}
	 82% {
		 text-shadow: 1px 0 0 rgba(255, 0, 0, 1), -1px 0 0 rgba(0, 255, 0, 1);
	}
	 83% {
		 text-shadow: 1.5px 0 0 rgba(255, 0, 0, 1), -1.5px 0 0 rgba(0, 255, 0, 1);
	}
	 84% {
		 text-shadow: 2px 0 0 rgba(255, 0, 0, 1), -2px 0 0 rgba(0, 255, 0, 1);
	}
	 85% {
		 text-shadow: 2.5px 0 0 rgba(255, 0, 0, 1), -2.5px 0 0 rgba(0, 255, 0, 1);
	}
	 86% {
		 text-shadow: 1.5px 0 0 rgba(255, 0, 0, 1), -1.5px 0 0 rgba(0, 255, 0, 1);
	}
	 87% {
		 text-shadow: 0.5px 0 0 rgba(255, 0, 0, 1), -0.5px 0 0 rgba(0, 255, 0, 1);
	}
	 88% {
		 text-shadow: -0.5px 0 0 rgba(255, 0, 0, 1), 0.5px 0 0 rgba(0, 255, 0, 1);
	}
	 89% {
		 text-shadow: -1.5px 0 0 rgba(255, 0, 0, 1), 1.5px 0 0 rgba(0, 255, 0, 1);
	}
	 90% {
		 text-shadow: -2.5px 0 0 rgba(255, 0, 0, 1), 2.5px 0 0 rgba(0, 255, 0, 1);
	}
	 91% {
		 text-shadow: 60px 0 0 rgba(0, 255, 0, 1), -60px 0 0 rgba(0, 0, 255, 1);
	}
	 92% {
		 text-shadow: 0 0 0 rgba(0, 255, 0, 1), 0 0 0 rgba(0, 0, 255, 1);
	}
	 92% {
		 text-shadow: 0.7px 0 0 rgba(0, 0, 255, 1), -0.7px 0 0 rgba(0, 255, 0, 1);
	}
	 93% {
		 text-shadow: 1.4px 0 0 rgba(0, 0, 255, 1), -1.4px 0 0 rgba(0, 255, 0, 1);
	}
	 94% {
		 text-shadow: 2.1px 0 0 rgba(0, 0, 255, 1), -2.1px 0 0 rgba(0, 255, 0, 1);
	}
	 95% {
		 text-shadow: 2.8px 0 0 rgba(0, 0, 255, 1), -2.8px 0 0 rgba(0, 255, 0, 1);
	}
	 96% {
		 text-shadow: 1.8px 0 0 rgba(0, 0, 255, 1), -1.8px 0 0 rgba(0, 255, 0, 1);
	}
	 97% {
		 text-shadow: 0.8px 0 0 rgba(0, 0, 255, 1), -0.8px 0 0 rgba(0, 255, 0, 1);
	}
	 98% {
		 text-shadow: -0.2px 0 0 rgba(0, 0, 255, 1), 0.2px 0 0 rgba(0, 255, 0, 1);
	}
	 99% {
		 text-shadow: -1.2px 0 0 rgba(0, 0, 255, 1), 1.2px 0 0 rgba(0, 255, 0, 1);
	}
	 100% {
		 text-shadow: -2.2px 0 0 rgba(0, 0, 255, 1), 2.2px 0 0 rgba(0, 255, 0, 1);
	}
}
 