@font-face {
  font-family: "Cyberpunk";
  src: url("../font/Cyberpunk.ttf");
}
:root {
  --interests-color: 64, 179, 255;
  --interests-color-dark: rgba(12, 35, 57, 0.5);
  --contact-color: 173, 255, 47;
  --contact-color-dark: rgba(58, 78, 27, 0.5);
  --credits-color: 0, 255, 255;
  --credits-color-dark: rgba(25, 68, 68, 0.5);
  --btn-music-color: yellow;
  --btn-music-color-active: orange;
  --btn-music-color-dark: rgba(75, 58, 28, 0.5);
  --ui-notch-amount_: 4rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  width: 100%;
  height: auto;
  font-size: 16px;
}
.bg {
  background-color: black;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  top: -1px;
  left: -1px;
}
.bg-video {
  min-height: 100vh;
  min-width: 100%;
}
.content {
  position: absolute;
  width: 100%;
}
header {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.menu {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
  height: auto;
}
.btn {
  width: 9rem;
  height: 3.5rem;
  border: 0;
  outline: 0;
  background-color: var(--black-color);
  cursor: pointer;
  margin: 0 0.1rem;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.myinfo {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.site-title,
.site-subtitle {
  text-align: center;
  margin: 0;
}
.site-title {
  font-family: "Cyberpunk", "Allerta Stencil", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  height: auto;
  animation: glitch2 5s steps(100) infinite;
  color: #fcff50e8;
}
.site-subtitle {
  font-family: Tomorrow, sans-serif;
  font-size: 1rem;
  width: 12rem;
  margin: 0 auto;
  animation: glitch2 1s steps(100) infinite;
}

.btn-music-hide {
  width: 6rem;
  height: 3rem;
  position: fixed;
  left: -3rem;
  top: 4.5rem;
  transition: 0.5s;
}
.btn-music {
  box-shadow: inset 0 0 8px var(--btn-music-color),
    0 0 8px var(--btn-music-color);
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px var(--btn-music-color);
  color: var(--btn-music-color);
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  padding: 10px;
  height: 3rem;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1.5rem;
  right: auto;
}
.btn-music-hide:hover .btn-music,
.btn-music-hide:active .btn-music {
  transform: translate(2rem);
}
.btn-music:hover,
.btn-music:active {
  border: solid 1.5px var(--btn-music-color-active);
  box-shadow: inset 0 0 15px var(--btn-music-color-active),
    0 0 15px var(--btn-music-color-active);
  color: var(--btn-music-color-active);
}
.btn-music:focus {
  outline: 0;
}
.a-arrow-up {
  height: 5rem;
}
.arrow-up {
  filter: invert(94%) sepia(20%) saturate(2160%) hue-rotate(360deg)
    brightness(109%) contrast(103%) drop-shadow(0px 0px 0.8px #ffff00);
  display: flex;
  margin: 1rem 0.2rem auto auto;
  position: sticky;
  position: -webkit-sticky;
  top: 5.5rem;
  left: 3rem;
  transition: 0.2s;
  width: 1.7rem;
  height: 2rem;
}
.arrow-up:hover,
.arrow-up:active {
  text-shadow: 0 0 8px var(--btn-music-color-active);
  color: var(--btn-music-color-active);
  width: 1.9rem;
  margin-right: 0.1rem;
}
.interests,
.contact,
.credits {
  display: flex;
  padding: 2rem;
  height: auto;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
  font-family: Tomorrow, sans-serif;
  align-content: center;
}
.container div a {
  text-decoration: none;
  color: inherit;
}
.interests .container > div,
.contact .container > div,
.credits .container > div {
  position: absolute;
  align-items: center;
  padding-top: 10px;
  top: -1.8rem;
  left: 0.2rem;
  right: 0.2rem;
  bottom: -1.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  clip-path: polygon(
    9.6rem 0,
    10.4rem 1.2rem,
    100% 1.2rem,
    100% calc(100% - var(--ui-notch-amount) + 2px),
    calc(100% - var(--ui-notch-amount) + 2px) 100%,
    0 100%,
    0 0
  );
  --ui-notch-amount: var(--ui-notch-amount_);
}
.container {
  position: relative;
  min-height: auto;
  width: 100%;
  clip-path: polygon(
    10rem 0,
    10.8rem 1.2rem,
    100% 1.2rem,
    100% calc(100% - var(--ui-notch-amount) + 2px),
    calc(100% - var(--ui-notch-amount) + 2px) 100%,
    0 100%,
    0 0
  );
  --ui-notch-amount: var(--ui-notch-amount_) + 1px;
  background-blend-mode: multiply;
}
.interests h2,
.contact h2,
.credits h2 {
  align-self: flex-start;
  font-family: Tomorrow, sans-serif;
  margin-bottom: 2rem;
  min-width: 100%;
  padding-top: 20px;
  text-align: center;
}
.interests .container {
  background-color: rgba(var(--interests-color), 0.5);
}
.contact .container {
  background-color: rgba(var(--contact-color), 0.5);
}
.credits .container {
  background-color: rgba(var(--credits-color), 0.5);
}
.interests .container > div {
  background-color: var(--interests-color-dark);
  border: solid 1px rgb(var(--interests-color));
  box-shadow: inset 0 0 8px rgb(var(--interests-color)),
    0 0 8px rgb(var(--interests-color));
  color: rgb(var(--interests-color));
  text-shadow: 0 0 8px rgb(var(--interests-color));
}
.contact .container > div {
  background-color: var(--contact-color-dark);
  border: solid 1px rgb(var(--contact-color));
  box-shadow: inset 0 0 8px rgb(var(--contact-color)),
    0 0 8px rgb(var(--contact-color));
  color: rgb(var(--contact-color));
  text-shadow: 0 0 8px rgb(var(--contact-color));
}
.credits .container > div {
  background-color: var(--credits-color-dark);
  border: solid 1px rgb(var(--credits-color));
  box-shadow: inset 0 0 8px rgb(var(--credits-color)),
    0 0 8px rgb(var(--credits-color));
  color: rgb(var(--credits-color));
  text-shadow: 0 0 8px rgb(var(--credits-color));
}
.interests .grid {
  align-self: first baseline;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(2, 80px);
}
figure .img-interests {
  height: 60px;
  width: auto;
}
.interests figure {
  text-align: center;
  opacity: 0.6;
  background-color: var(--interests-color-dark);
  border: solid 1px rgb(var(--interests-color));
  box-shadow: inset 0 0 8px rgb(var(--interests-color)),
    0 0 8px rgb(var(--interests-color));
  padding: 0.7rem 0;
  margin-bottom: 1rem;
  transition: 0.2s;
}
.interests figure:hover {
  box-shadow: inset 0 0 102px rgb(var(--interests-color)),
    0 0 22px rgb(var(--interests-color));
  text-shadow: 0 0 12px;
  opacity: 1;
}
.interests figcaption {
  font-size: 0.7rem;
  transition: 0.2s;
}
.interests figure:hover figcaption {
  text-shadow: 0 0 12px;
}
.credits ul {
  align-self: start;
  font-size: 1.5rem;
  line-height: 2rem;
  width: auto;
}
.credits li {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 1rem;
  transition: 0.3s;
}
.contact .grid {
  align-self: first baseline;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(3, 40px);
}
.contact a {
  opacity: 0.6;
  text-align: center;
  width: auto;
  transition: 0.3s;
}
.contact a:hover {
  text-shadow: 0 0 202px;
  opacity: 1;
}
.contact a img {
  filter: invert(81%) sepia(83%) saturate(453%) hue-rotate(27deg)
    brightness(104%) contrast(101%)
    drop-shadow(0px 0px 2px rgb(var(--contact-color)));
  width: 100%;
}
.contact a img:hover {
  filter: invert(81%) sepia(83%) saturate(453%) hue-rotate(27deg)
    brightness(104%) contrast(101%)
    drop-shadow(0px 0px 5px rgb(var(--contact-color)));
}
.credits li::before {
  content: ">";
}

@media (max-width: 270px) {
  .interests .grid {
    gap: 1.5rem;
    grid-template-columns: repeat(1, 100px);
  }
  .interests figcaption {
    font-size: 1rem;
  }
}
@media (min-width: 290px) {
  .interests .grid {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 100px);
  }
  .interests figcaption {
    font-size: 1rem;
  }
  .contact .grid {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 60px);
  }
  .contact a {
    font-size: 60px;
  }
}
@media (min-width: 360px) {
  .site-title {
    font-size: 7rem;
  }
  .interests .grid {
    gap: 2rem;
    grid-template-columns: repeat(2, 120px);
  }
  .interests figcaption {
    font-size: 1rem;
  }
  .contact .grid {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 80px);
  }
  .contact a {
    font-size: 80px;
  }
}
@media (min-width: 400px) {
  .btn {
    margin: 0 1rem;
    font-size: 0.85rem;
  }
  .site-title {
    font-size: 7rem;
  }
  .site-subtitle {
    font-size: 1.5rem;
  }
  .interests .grid {
    gap: 2rem;
    grid-template-columns: repeat(2, 120px);
  }
  figure .img-interests {
    height: 100px;
    width: auto;
  }
  .interests figcaption {
    font-size: 1rem;
  }
}
@media (min-width: 460px) {
  .interests .grid {
    gap: 2rem;
    grid-template-columns: repeat(2, 160px);
  }
  figure .img-interests {
    height: 140px;
    width: auto;
  }
}

@media (min-width: 520px) {
  .interests .grid {
    grid-template-columns: repeat(2, 200px);
  }
  figure .img-interests {
    height: 145px;
    width: auto;
  }
  .contact .grid {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 100px);
  }
  .contact a {
    font-size: 100px;
  }
}
@media (min-width: 620px) {
  .btn {
    margin: 0 2rem;
  }
}
@media (min-width: 700px) {
  .btn-music-hide {
    top: 0rem;
  }
}
@media (min-width: 1000px) {
  .interests .grid {
    grid-template-columns: repeat(4, 200px);
  }
  figure .img-interests {
    height: 180px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .site-title {
    font-size: 12rem;
  }
  .site-subtitle {
    font-size: 3rem;
    width: 22rem;
  }
  .btn {
    margin: 0 7rem;
  }
  .interests .grid {
    gap: 3rem;
    grid-template-columns: repeat(4, 220px);
  }
  figure .img-interests {
    height: 200px;
    width: auto;
  }
}
