@font-face {
    font-family: 'Cyberpunk';
    src: url('../font/Cyberpunk.ttf');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    font-family: oswald;
    vertical-align:baseline
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: auto;
  min-width: 300px;
  transform: ease all .5s;
}
.bg {
  filter:blur(1px);
  -webkit-filter: blur(2px);
  position: fixed; 
  height: 100%;
  width: 100%;
}
.bg-image {
  background-image: url(../img/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
header {
  display: flex; 
  height: auto;
  flex-direction: column;
}
.menu {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
  height: auto;
}
.myinfo{
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 7em;
  width: 310px;
  min-width: 310px;
}
.site-title,
.site-subtitle{
  text-align: center;
  margin:0;
}
.site-title {
   font-family: 'Cyberpunk', 'Allerta Stencil', sans-serif;
   font-size: 7em;
   font-weight: bold;
	 text-align: center;
	 height: auto;
	 animation: glitch2 5s steps(100) infinite;
   color: #fcff50e8;
}

.site-subtitle {
  font-family:Tomorrow, sans-serif;
  font-size: 1.5em;
  width: 9em;
  margin: 0 auto;
  animation: glitch2 1s steps(100) infinite;
}
.btn {
  width: 9em;
  height: 3.5em; 
  border: 0;
  outline: none;
  background-color: var(--black-color);
  cursor: pointer;
  margin: 0 1em;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: .85rem;
  text-transform: uppercase;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.btn-music-hide{
  width:calc(3rem * 2);
  height: 3rem;
  position: fixed;
  left: -3rem;
}
.btn-music {
  border: solid 3px black;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  padding: 10px;
  height: 3rem;
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left:1.5rem;
  right:auto;
}
.btn-music-hide:hover .btn-music, .btn-music-hide:active .btn-music{
  right:0;
  left:auto;
}
.btn-music:hover, .btn-music:active{
  border: solid 3px grey;
}
.btn-music:focus {
  outline: 0;
}

@media (max-width: 400px){
  .btn {
    font-size: .70em;
    margin: 0 .1em;
  }
  .site-title {
    font-size: 5rem;
  }
}

@media (max-width: 550px){
  .btn-music-hide {
    top: 4rem;
  }
}

@media (min-width: 620px){
  .btn-music {
    right:0;
    left:auto;
  }
}